<% title "Escribir mensaje" %>

<p>Rellena los campos de la izquierda para enviar un mensaje a <%= current_group.name %>.
  Tanto el título como el texto son obligatorios. Cuando hayas acabado, pulsa enviar.</p>

<p><strong>Los párrafos deben estar separados por una línea en blanco!</strong>. Dos párrafos sin línea en blanco serán
unidos después en un solo bloque.</p>

<p>Si rodeas palabras del texto *con un asterisco*, aparecerán en <em>cursiva</em>.
  Si las rodeas **con dos asteriscos** el resultado será <strong>negrita</strong>.</p>

<p>Puedes hacer listas como ésta así:</p>
<ul>
  <li>Deja una línea en blanco</li>
  <li>Escribe un guión (-), un espacio en blanco, y el texto</li>
  <li>Repite por cada ítem de la lista</li>
</ul>
