<h1>Bienvenido a <%= current_group.name %></h1>
<br/>
<p>Esta es la web de trabajo de <%= current_group.name %> por lo que el acceso es restringido:
  para entrar debes disponer de una cuenta previamente. Si tienes problemas para entrar puedes
  contactar con danigb@gmail.com<br/></p>

<p>Esta web <strong>sólo funciona con navegadores modernos</strong> como
  <a href="http://www.mozilla.com/es-ES/firefox/?from=getfirefox">Firefox</a> o
  <a href="http://www.google.com/chrome?hl=es">Chrome</a>. Por favor, si utilizas
  Internet Explorer... instala otro navegador mejor!<br/>
</p>

<p>Si lo que quieres es ponerte en contacto con nosotros, puedes escribir a contacto@crestasylechugas.org</p>