<h2>Actividad reciente (<%= activities.size %> de <%= activity_size %>)</h2>
<ul>
  <% activities.each do |activity| %>
      <li><%= activity.created_at.strftime('%D %H:%M') %> - <%= activity.description %></li>
  <% end %>
</ul>