
@import "variables.css.scss";

#session {
    margin: 0 10px;
    span.flash {float:right; background-color:yellow; padding: 0 5px;}
}

.container {
    width: 100%;overflow:hidden;
    .column2 {float:left;width:50%;}
}

span.notice {background-color:yellow;}

#page {
    max-width: 960px;
    margin: 10px auto;

    .content {
        overflow: hidden;
        background-color:$c-main;
        border-radius: 5px;
    }

    .browser {
        background-color:lighten($c-background, 35);
        border-radius: 5px;
        box-shadow: 1px 0 4px gray;
        padding: 10px;
        margin-bottom:1px;
        z-index:10000;
    }

    .main {
        padding: 10px;
        z-index:500;
    }
}

.main {
    ul.properties {
        li {
            label {font-weight:bold;}
        }
    }
}
.main > p {margin-bottom:0.5em;text-shadow: 1px 0 1px darken($c-background, 10);color: darken($c-background, 50);}